# Ignore local dependency folders
node_modules
**/node_modules

# Ignore local build and cache outputs
.nuxt
.output
.cache
/tmp

# Ignore IDE settings and local environment files
.env
.env*
*.local
.vscode
.idea

# Ignore version control systems
.git
.github
.gitignore

e2e